@import 'lms/static/sass/lms-main-v1';
@import 'overrides';
@import 'menu';

.home > header {
  .outer-wrapper {
    margin: 45px auto;
  }
  .alert{
    background-color: rgba(206, 245, 188, 0.705);
  }
  .title {
    background-color: rgba(240, 220, 220, 0.904);

    hgroup {
      h1 {
        margin-bottom: 0.25em;
      }
      p {
        font-style: italic;
        text-transform: lowercase;
        text-align: center;
        margin: 0;
      }
      .course-search{
        margin-bottom: 0.25em;
      }
    }
  }

}
//Footer

.footer-main{
  background-color: $footer-bg;
  .wrapper-footer{
    background-color: $footer-bg;
  }
}




// //Header
// header.header-main {
//   min-height: 100px;
//   .navbar-collapse{
//     .collapsed-button{
//       position: absolute;
//       right: 20px;
//       top: 38px;
//       cursor: pointer;
//       float: right;
//       span{
//         display: block;
//         width: 25px;
//         height:4px;
//         background-color: $x-dark;
//         margin-bottom: 3px;
//       }
//     }
//     ul{
//       display: none;
//       &.show-menu{
//         display: block;
//       }

//       .language-selection {
//         display: inline-block;
//         position: relative;
//       }

//       .language-selection select {
//         -webkit-appearance: none;
//         -moz-appearance: none;
//         appearance: none;
//         background-color: transparent;
//         border: 0;
//         color: $brand-color;
//         font-family: $brand-font;
//         font-weight: 400;
//         font-style: normal;
//         padding: 0 20px;
//         position: relative;
//         z-index: 1;
//       }

//       .language-selection select::ms-expand {
//         display: none;
//       }

//       .language-selection .fa-globe {
//         position: absolute;
//         z-index: 0;
//         top: 4px;
//         left: 2px;
//         color: #8d1221;
//       }

//       .language-selection .fa-angle-down {
//         position: absolute;
//         right: 5px;
//         top: 4px;
//         color: #8d1221;
//       }
//     }
//   }

//   .logo{
//     line-height: 94px;
//     margin-left: 0;
//     a{
//       border-bottom: 0 !important;
//       img{
//         vertical-align: middle;
//         width: auto;
//         height: auto;
//       }
//     }
//   }
//   .list-inline{
//     transition: all .2s;
//     position: absolute;
//     top: 100px;
//     border-top: 1px solid $light;
//     right: 0;
//     left: 0;
//     background-color: $white;
//     z-index: 10;
//     box-shadow: 0px 2px 3px $light;
//     padding: 1rem 0;
//     li{
//       float: right;
//       display: inline-block;
//       vertical-align: middle;
//       line-height: normal;
//       padding: 0.5rem;
//       font-size: 1rem;
//       width: 100%;
//       text-align: center;
//       a{
//         line-height: normal;
//         color: $x-dark;
//       }
//       &.user-account{
//         margin-right: 1rem;
//         position: relative;
//         .user-img{
//           display: inline-block;
//           width: 50px;
//           height: 50px;
//           line-height: 100px;
//           vertical-align: middle;
//           margin-right: 0.6rem;
//           img {
//             vertical-align: top;
//             width: 100%;
//           }
//         }
//         .user-name{
//           cursor: pointer;
//           position: relative;
//           display: inline-block;
//           &:after{
//             content: "\f0d7";
//             position: absolute;
//             right: -1rem;
//             font-family: 'FontAwesome';
//             top: 0.2rem;
//           }
//         }
//         ul{
//           display: none;
//           position: relative;
//           background-color: $white;
//           box-shadow: 0px 2px 24px rgba(0,0,0,0.3);
//           width: 50%;
//           margin: auto;
//           margin-top: 0.5rem;
//           border: 1px solid $light;
//           li{
//             border-bottom: 1px solid lighten($light, 10%);
//             background: $white;
//             float: none;
//             a{
//               display: block;
//             }
//           }
//           &:before{
//             content: "\f0d8";
//             position: absolute;
//             font-family: 'FontAwesome';
//             right: 1rem;
//             top: -20px;
//             color: $white;
//             font-size: 2rem;
//             line-height: normal;
//           }
//         }
//       }
//     }
//   }
// }