@import 'lms/static/sass/lms-main-v1';
@import 'overrides';


.home > header {
  .outer-wrapper {
    margin: 45px auto;
  }
  .alert{
    background-color: rgba(206, 245, 188, 0.705);
  }
  .title {
    background-color: rgba(240, 220, 220, 0.904);

    hgroup {
      h1 {
        margin-bottom: 0.25em;
      }
      p {
        font-style: italic;
        text-transform: lowercase;
        text-align: center;
        margin: 0;
      }
      .course-search{
        margin-bottom: 0.25em;
      }
    }
  }

}
//Footer

.footer-main{
  .wrapper-footer{
    background-color: $footer-bg;
  }
}
